<footer class="footer">
  <small>
    <a href="http://passmontagne.com/">Pass Montagne</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "A Propos",  about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.passmontagne.com/">Nouvelle</a></li>
    </ul>
  </nav>
</footer>